body, html {
margin: 0; 
padding: 0;
font-family: Roboto;
}

.module-grid__cell-12 {
height: 150px;
background-color: #cfe5ef;
}

.module-grid__cell-8 {
margin: 25px auto;
padding: 14px 20px;
display: inline-block;
vertical-align: middle;
float: none;
}

.module-grid__cell-2 {
margin: 0 auto;
padding: 10px 10px;
width: 15%;
}

.module-grid__cell-custom {
float: left;
margin-left: 15px;
height: 62px;
width: 50px;
}

.module-grid__cell-1 {
line-height: 62px;
text-align: left;
font-size: 48px;
font-style: italic;
font-weight: bold;
color: #2c2c2c;
width: auto;
padding-left: 7px;
}

.button-login {
float: right;
margin-right: 0;
height: 60px;
width: 124px;
font-size: 20px;
line-height: 60px;
text-align: center;
background-color: white;
font-style: normal;
font-weight: normal;
color: #2c2c2c;
}

nav {
margin-top: 18px;
margin-left: 55px;
display: inline-block;
width: 65%;
}

nav ul {
   list-style: none;
   padding: 0;
   margin: 0;
}

nav a {
  display: block;
  text-decoration: none;
  outline: none; 
}

.navigation-links {
  backface-visibility: hidden;
}

.navigation-links > li {
  display: inline-block;
  position: relative;
}

.navigation-links > li:nth-child(2) a {
   padding-left: 12px;
   padding-right: 12px;
   border-left: 2px solid black;
   border-right: 2px solid black;
}

.navigation-links > li > a {
  height: 30px;
  line-height: 28px;
  padding: 0 10px;
  font-weight: bold;
  text-transform: uppercase;
  transition: .4s ease-in-out;
  color: black;
  font-size: 20px;
}

.navigation-links li a:hover {
 background-color: white;
}

.submenu {
  list-style: none;
  padding: 0;
  margin: 0;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  background: white;
  position: absolute;
  left: 0;
  visibility: hidden;
  opacity: 0;
  z-index: 5;
  width: 200px;
  -webkit-transition: 0.2s ease-in-out;
  border: 4px solid white;
}

.navigation-links > li:hover .submenu {
  visibility: visible;
  opacity: 1;
}

.submenu li {
  font-size: 20px;
  line-height: 36px;
  padding: 0 25px;
  transition: .4s ease-in-out;
}

p {
font-size: 18px;
font-style: normal;
font-weight: bold;
margin: 0;
padding: 0;
}

.divider {
margin-top: 14px;
margin-bottom: 30px;
padding-top: 0;
height: 6px;
width: 200px;
background-color: #c3c3c3;
}

.comments {
float: left;
margin-left: 20px;
width: 1050px;
}

.gallery {
margin-left: 20px;
}

.gallery-captions {
display: inline-block; 
width: 270px; 
font-size: 12.78px;
padding-left: 8px;
margin-bottom: 56px;
}

.module-grid__cell-3:nth-child(4), .module-grid__cell-3:nth-child(8) {
width: 24%;
margin-right: 0;
}

input, label {
display: block;
}

label {
font-weight: bold;
font-size: 13px;
}

.input-params-image-phone {
background: url(../images/phone-call.png) no-repeat scroll 15px 10px;
border: 1px solid black;
margin-top: 10px;
padding-left: 45px;
height: 42px;
width: 230px;
}

.input-params-image-lock {
background: url(../images/lock.png) no-repeat scroll 15px 10px;
border: 1px solid black;
margin-top: 10px;
padding-left: 45px;
height: 42px;
width: 230px;
}

.input-params-image-text {
background: url(../images/chat-comment.png) no-repeat scroll 15px 10px;
padding-left: 45px;
}

.phone-violet {
background-image: url(../images/phone-call-violet.png) , url(../images/arrow-down.png);
border: 1px solid black;
background-position: 15px 10px, 250px 15px; 
background-attachment: scroll;
background-repeat: no-repeat;
background-size: auto;
padding-left: 45px;
border: 2px solid black;
}

.lock-violet {
background: url(../images/lock-violet.png) no-repeat scroll 15px 10px;
}

.textarea-violet {
background: url(../images/chat-comment-violet.png) no-repeat scroll 15px 10px;
}

.input-params {
margin-top: 10px;
padding-left: 15px;
height: 42px;
width: 260px;
border: 1px solid black;
}

.select-params-image-phone {
background-image: url(../images/phone-call.png) , url(../images/arrow-down.png); 
background-position: 15px 10px, 250px 15px; 
background-attachment: scroll;
background-repeat: no-repeat;
background-size: auto;
padding-left: 45px;
}

.pseudo-focus {
 background-color: #e9f8ff;
}

.form-gallery-item:nth-child(1), .form-gallery-item:nth-child(3), .form-gallery-item:nth-child(5) {
margin-left: 0;
}

input:focus {
 background-color: #e9f8ff;
}

.bold-value {
 font-weight: bold;
}

select {
background-color: white;
border: 1px solid grey;
height: 42px;
margin-top: 10px;
padding-left: 15px;
width: 277px;
-webkit-appearance: none;
background: url(../arrow-down.png) 96% / 5% no-repeat white;
}

.form-gallery-item {
 float: left;
 margin-left: 40px;
 margin-bottom: 40px;
}

input[type="checkbox"] {
    display:none;
}

input[type="checkbox"] + label span {
    display:inline-block;
    width:25px;
    height:25px;
    margin:-2px 8px -6px 0px;
    font-weight: bold;
    background:url(sprite.png) left top no-repeat;
}
input[type="checkbox"]:checked + label span {
    background:url(images/sprite.png) -26px top no-repeat;
}

input[type="radio"] {
    display:none;
}

input[type="checkbox"]:checked + label, input[type="radio"]:checked + label {
   color: #52359d;
   font-weight: bold;
}

input[type="radio"] + label span {
    display:inline-block;
    width:25px;
    height:25px;
    margin:-2px 8px -3px 0px;
    vertical-align:middle;
    background:url(sprite.png) -55px top no-repeat;
    cursor:pointer;
}

input[type="radio"]:checked + label span {
    background:url(sprite.png) -80px top no-repeat;
}

.form-gallery-item-type02 {
 float: left;
 margin-left: 40px;
}

.form-gallery-item-type02:nth-of-type(1) {
 margin-left: 0; 
}

.form-gallery-checkboxes > label {
 display: inline-block;
 margin-right: 40px;
}

.module-grid__cell-6:nth-child(2) {
float: right;
}

.form-gallery-item-type04 {
 margin-left: 40px !important;
}

textarea {
resize: none;
font-family: Roboto;
padding: 10px 10px;
}

.upload-btn-wrapper {
  position: absolute;
  overflow: hidden;
  display: inline-block;
}

button {
  border: 1px solid gray;
  color: black;
  background-color: white;
  padding: 12px 20px;
  font-size: 13px;
  margin-right: 10px;
}

.upload-btn-wrapper input[type=file] {
  font-size: 13px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
}
