/* roboto-regular - cyrillic_cyrillic-ext_latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  src: url('./fonts/roboto-v19-cyrillic_cyrillic-ext_latin-regular.woff') format('woff');
}

/* roboto-italic - cyrillic_cyrillic-ext_latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: normal;
  src: url('./fonts/roboto-v19-cyrillic_cyrillic-ext_latin-italic.woff') format('woff');
}

/* roboto-700 - cyrillic_cyrillic-ext_latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: bold;
  src: url('./fonts/roboto-v19-cyrillic_cyrillic-ext_latin-700.woff') format('woff');
}

/* roboto-700italic - cyrillic_cyrillic-ext_latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: bold;
  src: url('./fonts/roboto-v19-cyrillic_cyrillic-ext_latin-700italic.woff') format('woff');
}